{% extends 'base.html' %}

{% block page_content %}
<div class="container">

    <br>

    <p>The following charts show how each golfer is doing per hole. The numbers represent the golfers average strokes over/under par for each hole.</p>

    {% autoescape off %}
    {{ plot_div_2022 }}
    {% endautoescape %}

    <br>

    {% autoescape off %}
    {{ plot_div_2021 }}
    {% endautoescape %}

    <br>

    {% autoescape off %}
    {{ plot_div_2020 }}
    {% endautoescape %}

    <br>

    {% autoescape off %}
    {{ plot_div_2019 }}
    {% endautoescape %}

</div>
{% endblock %}
