{% extends "base.html" %}

{% block page_content %}
<div class="container">
    <h1 class="text-center my-4">Create Team</h1>

    <h4 class="text-center my-4">Select Team Golfers</h2>

    <!-- Team Creation Form -->
    <form method="post" class="mb-5">
        {% csrf_token %}
        <div class="row justify-content-md-center">
            <div class="col-md-6">
                <div class="row mb-3">
                    <label for="{{ form.season.id_for_label }}" class="col-sm-2 col-form-label ">Season:</label>
                
                    <div class="form-group mb-3 col-sm-10">
                        <select name="{{ form.season.name }}" id="{{ form.season.id_for_label }}" class="form-control">
                            {% for season in form.fields.season.queryset %}
                                <option value="{{ season.pk }}">{{ season }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group mb-3">
                    <select name="{{ form.golfer1.name }}" id="{{ form.golfer1.id_for_label }}" class="form-control">
                        <option value="" selected>Select a Golfer</option>
                        {% for golfer in form.fields.golfer1.queryset %}
                            <option value="{{ golfer.pk }}">{{ golfer }}</option>
                        {% endfor %}
                    </select>
                </div>
                    
                <div class="form-group mb-3">
                    <select name="{{ form.golfer2.name }}" id="{{ form.golfer2.id_for_label }}" class="form-control">
                        <option value="" selected>Select a Golfer</option>
                        {% for golfer in form.fields.golfer2.queryset %}
                            <option value="{{ golfer.pk }}">{{ golfer }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" name="select_week" class="btn btn-primary">Create Team</button>
            </div>
        </div>
    </form>

</div>
{% endblock %}
