{% extends "base.html" %}
{% load tags %}
{% load static %}

{% block page_content %}

<br>

<div class="container">
  <form action="/creategolfer/" method="POST">
    <legend>Create Golfer:</legend>
    <div class="row">
      <div class="col-12">
        <div class="form-group">
          Name
          {% csrf_token %}
          {{ form.name }}
        </div>
        <div class="form-group">
          Team
          {% csrf_token %}
          {{ form.team }}
        </div>
        <div class="form-group">
          {% csrf_token %}
          {{ form.year }}
        </div>
      </div>
    </div>
<div class="row">
  <div class="col-12">
    <div class="form-group">
      <input class="btn btn-primary btn-lg btn-block" type="submit" value="Submit">
    </div>
  </div>
</div>
</form>
</div>
</div>

{% endblock %}
