{% extends 'base.html' %}

{% block page_content %}
<div class="container">

<p>The table below shows each golfers weekly points. This information is also on the golfer summary page.</p>
<br>

{% autoescape off %}
{{ points_div }}
{% endautoescape %}

<p>The table below shows each golfers weekly handicap</p>
<br>

{% autoescape off %}
{{ table_div }}
{% endautoescape %}

{% autoescape off %}
{{ plot_div }}
{% endautoescape %}

{% autoescape off %}
{{ plot_div2 }}
{% endautoescape %}

<br>

<div class="card">
<div class="card-header">
<h3>Best and Worst Scores</h3>
</div>
<div class="card">
<div class="card-header">
<h5>Best gross score: {{ minGross }}</h5>
<h6>Achieved by:</h6>
</div>
<div class="card-body">
<ul class="list-group list-group-flush">
{% for name in  minGrossNames %}
<li class="list-group-item">{{ name }}</li>
{% endfor %}
</ul>
</div>
</div>

<div class="card">
<div class="card-header">
<h5>Worst gross score: {{ maxGross }}</h5>
<h6>Achieved by:</h6>
</div>
<div class="card-body">
<ul class="list-group list-group-flush">
{% for name in  maxGrossNames %}
<li class="list-group-item">{{ name }}</li>
{% endfor %}
</ul>
</div>
</div>

<div class="card">
<div class="card-header">
<h5>Best net score: {{ minNet }}</h5>
<h6>Achieved by:</h6>
</div>
<div class="card-body">
<ul class="list-group list-group-flush">
{% for name in  minNetNames %}
<li class="list-group-item">{{ name }}</li>
{% endfor %}
</ul>
</div>
</div>

<div class="card">
<div class="card-header">
<h5>Worst net score: {{ maxNet }}</h5>
<h6>Achieved by:</h6>
</div>
<div class="card-body">
<ul class="list-group list-group-flush">
{% for name in  maxNetNames %}
<li class="list-group-item">{{ name }}</li>
{% endfor %}
</ul>
</div>
</div>
</div>

</div>
{% endblock %}
