{% extends "base.html" %}
{% load static %}
{% load tags %}

{% block page_content %}

<br id="hideonprint">

<div class="d-flex align-items-center justify-content-center">
  <button id="hideonprint" type="button" class="btn btn-primary" onClick="window.print();">Print</button>
</div>

<br id="hideonprint">

{% for team, opp in data %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="table-responsive">
      <table class="scorecard" style="undefined;table-layout: fixed; width: 568px; height: 500px;">
        <colgroup>
          <col style="width: 150px">
          <col style="width: 64px">
          <col style="width: 70px">
          <col style="width: 70px">
          <col style="width: 66px">
          <col style="width: 70px">
          <col style="width: 70px">
          <col style="width: 70px">
          <col style="width: 70px">
          <col style="width: 70px">
          <col style="width: 70px">
          <col style="width: 86px">
          <col style="width: 82px">
        </colgroup>
        <tr class="data_print">
          <th class="descriptor_print" colspan="2">Week {{ week }}</th>
          <th class="descriptor_print" colspan="9">{{ string }}</th>
          <th class="descriptor_print" colspan="2">{{ year }}</th>
        </tr>
        <tr class="scores">
          <td class="descriptor_print">{{ team.A.name }}</td>
          <td class="hcp_print">{{ team.A_Hcp|floatformat:0  }}</td>
          <td class="score" id="{% css_print team.A.id week 1 is_front %}"></td>
          <td class="score" id="{% css_print team.A.id week 2 is_front %}"></td>
          <td class="score" id="{% css_print team.A.id week 3 is_front %}"></td>
          <td class="score" id="{% css_print team.A.id week 4 is_front %}"></td>
          <td class="score" id="{% css_print team.A.id week 5 is_front %}"></td>
          <td class="score" id="{% css_print team.A.id week 6 is_front %}"></td>
          <td class="score" id="{% css_print team.A.id week 7 is_front %}"></td>
          <td class="score" id="{% css_print team.A.id week 8 is_front %}"></td>
          <td class="score" id="{% css_print team.A.id week 9 is_front %}"></td>
          <td class="score"></td>
          <td class="total"></td>
        </tr>
        <tr class="points">
          <td class="descriptor_print" colspan="2">POINTS:</td>
          <td class="points"></td>
          <td class="points"></td>
          <td class="points"></td>
          <td class="points"></td>
          <td class="points"></td>
          <td class="points"></td>
          <td class="points"></td>
          <td class="points"></td>
          <td class="points"></td>
          <td class="points"></td>
          <td class="total"></td>
        </tr>
        <tr class="scores">
          <td class="descriptor_print">{{ opp.A.name }}</td>
          <td class="hcp_print">{{ opp.A_Hcp|floatformat:0  }}</td>
          <td class="score" id="{% css_print opp.A.id week 1 is_front %}"></td>
          <td class="score" id="{% css_print opp.A.id week 2 is_front %}"></td>
          <td class="score" id="{% css_print opp.A.id week 3 is_front %}"></td>
          <td class="score" id="{% css_print opp.A.id week 4 is_front %}"></td>
          <td class="score" id="{% css_print opp.A.id week 5 is_front %}"></td>
          <td class="score" id="{% css_print opp.A.id week 6 is_front %}"></td>
          <td class="score" id="{% css_print opp.A.id week 7 is_front %}"></td>
          <td class="score" id="{% css_print opp.A.id week 8 is_front %}"></td>
          <td class="score" id="{% css_print opp.A.id week 9 is_front %}"></td>
          <td class="score"></td>
          <td class="total"></td>
        </tr>
        <tr class="points">
          <td class="descriptor_print" colspan="2">POINTS:</td>
          <td class="points"></td>
          <td class="points"></td>
          <td class="points"></td>
          <td class="points"></td>
          <td class="points"></td>
          <td class="points"></td>
          <td class="points"></td>
          <td class="points"></td>
          <td class="points"></td>
          <td class="points"></td>
          <td class="total"></td>
        </tr>
        <tr class="data_print">
          <td class="hole-data left-align" colspan="2">HOLE</td>
          {% for hole in holeData %}
          <td class="hole-data center-align">{{ hole.hole }}</td>
          {% endfor %}
          <td class="hole-data center-align" rowspan="2">IN</td>
          <td class="score"></td>
        </tr>
        <tr class="data_print">
          <td class="hole-data left-align" colspan="2">HANDICAP</td>
          {% for hole in holeData %}
          <td class="hole-data center-align">{{ hole.handicap }}</td>
          {% endfor %}
          <td class="score"></td>
        </tr>
        <tr class="data_print">
          <td class="hole-data left-align" colspan="2">YARDS</td>
          {% for hole in holeData %}
          <td class="hole-data center-align">{{ hole.yards }}</td>
          {% endfor %}
          <td class="hole-data center-align">{{ total }}</td>
          <td class="score"></td>
        </tr>
        <tr class="data_print">
          <td class="hole-data left-align" colspan="2">PAR</td>
          {% for hole in holeData %}
          <td class="hole-data center-align">{{ hole.par }}</td>
          {% endfor %}
          <td class="hole-data center-align">36</td>
          <td class="score"></td>
        </tr>
        <tr class="scores">
          <td class="descriptor_print">{{ team.B.name }}</td>
          <td class="hcp_print">{{ team.B_Hcp|floatformat:0  }}</td>
          <td class="score" id="{% css_print team.B.id week 1 is_front %}"></td>
          <td class="score" id="{% css_print team.B.id week 2 is_front %}"></td>
          <td class="score" id="{% css_print team.B.id week 3 is_front %}"></td>
          <td class="score" id="{% css_print team.B.id week 4 is_front %}"></td>
          <td class="score" id="{% css_print team.B.id week 5 is_front %}"></td>
          <td class="score" id="{% css_print team.B.id week 6 is_front %}"></td>
          <td class="score" id="{% css_print team.B.id week 7 is_front %}"></td>
          <td class="score" id="{% css_print team.B.id week 8 is_front %}"></td>
          <td class="score" id="{% css_print team.B.id week 9 is_front %}"></td>
          <td class="score"></td>
          <td class="total"></td>
        </tr>
        <tr class="points">
          <td class="descriptor_print" colspan="2">POINTS:</td>
          <td class="points"></td>
          <td class="points"></td>
          <td class="points"></td>
          <td class="points"></td>
          <td class="points"></td>
          <td class="points"></td>
          <td class="points"></td>
          <td class="points"></td>
          <td class="points"></td>
          <td class="points"></td>
          <td class="total"></td>
        </tr>
        <tr class="scores">
          <td class="descriptor_print">{{ opp.B.name }}</td>
          <td class="hcp_print">{{ opp.B_Hcp|floatformat:0  }}</td>
          <td class="score" id="{% css_print opp.B.id week 1 is_front %}"></td>
          <td class="score" id="{% css_print opp.B.id week 2 is_front %}"></td>
          <td class="score" id="{% css_print opp.B.id week 3 is_front %}"></td>
          <td class="score" id="{% css_print opp.B.id week 4 is_front %}"></td>
          <td class="score" id="{% css_print opp.B.id week 5 is_front %}"></td>
          <td class="score" id="{% css_print opp.B.id week 6 is_front %}"></td>
          <td class="score" id="{% css_print opp.B.id week 7 is_front %}"></td>
          <td class="score" id="{% css_print opp.B.id week 8 is_front %}"></td>
          <td class="score" id="{% css_print opp.B.id week 9 is_front %}"></td>
          <td class="score"></td>
          <td class="total"></td>
        </tr>
        <tr class="points">
          <td class="descriptor_print" colspan="2">POINTS:</td>
          <td class="points"></td>
          <td class="points"></td>
          <td class="points"></td>
          <td class="points"></td>
          <td class="points"></td>
          <td class="points"></td>
          <td class="points"></td>
          <td class="points"></td>
          <td class="points"></td>
          <td class="points"></td>
          <td class="total"></td>
        </tr>
      </table>
    </div>
    <br>
    <div class="pagebreak"></div>
{% endfor %}
{% endblock %}
