{% extends "base.html" %}
{% load static %}

{% block page_content %}

<table id="legend">
    <tr>
        <td id="eagle">Eagle</td>
        <td id="birdie">Birdie</td>
        <td id="par">Par</td>
        <td id="bogey">Bogey</td>
        <td id="worst">Double or Worse</td>
    </tr>
</table>
<br>

{% for card in cards %}
<div class="table-responsive">
  <table class="scorecard" style="undefined;table-layout: fixed; width: 568px">
    <colgroup>
      <col style="width: 139px">
      <col style="width: 32px">
      <col style="width: 35px">
      <col style="width: 35px">
      <col style="width: 33px">
      <col style="width: 35px">
      <col style="width: 35px">
      <col style="width: 35px">
      <col style="width: 35px">
      <col style="width: 35px">
      <col style="width: 35px">
      <col style="width: 43px">
      <col style="width: 41px">
    </colgroup>
    <tr class="data">
      <th class="descriptor" colspan="2">Week {{ week_number }}</th>
      <th class="descriptor" colspan="9">{{ hole_string }}</th>
      <th class="descriptor" colspan="2">{{ week.season.year }}</th>
    </tr>
    <tr class="scores">
      <td class="descriptor">{{ card.team1_golferA.name }}</td>
      <td class="hcp">{{ card.team1_golferA_hcp|floatformat:0 }}</td>

      {% for score, css in card.team1_golferA_scores %}
      <td class="score" id="{{ css }}">{{ score }}</td>
      {% endfor %}

      <td class="score" style="background-color:#97A2A2">{{ card.team1_golferA_total }}</td>
      <td class="total" style="background-color:#97A2A2">{{ card.team1_golferA_net|floatformat:0 }}</td>
    </tr>
    <tr class="points">
      <td class="descriptor" colspan="2">POINTS:</td>

      {% for points in card.team1_golferA_hole_points %}
      <td class="points" id="">{{ points.points }}</td>
      {% endfor %}
      <td class"points">{{ card.team1_golferA_round_points }}</td>
      <td class"total">{{ card.team1_golferA_total_points }}</td>

    </tr>
    <tr class="scores">
      <td class="descriptor">{{ card.team2_golferA.name }}</td>
      <td class="hcp">{{ card.team2_golferA_hcp|floatformat:0 }}</td>

      {% for score, css in card.team2_golferA_scores %}
      <td class="score" id="{{ css }}">{{ score }}</td>
      {% endfor %}

      <td class="score" style="background-color:#97A2A2">{{ card.team2_golferA_total }}</td>
      <td class="total" style="background-color:#97A2A2">{{ card.team2_golferA_net|floatformat:0 }}</td>
    </tr>
    <tr class="points">
      <td class="descriptor" colspan="2">POINTS:</td>

      {% for points in card.team2_golferA_hole_points %}
      <td class="points" id="">{{ points.points }}</td>
      {% endfor %}

      <td class"points">{{ card.team2_golferA_round_points }}</td>
      <td class"total">{{ card.team2_golferA_total_points }}</td>

    </tr>
    <tr class="data">
      <td class="hole-data left-align" colspan="2">HOLE</td>
      {% for hole in holes %}
      <td class="hole-data center-align">{{ hole.number }}</td>
      {% endfor %}
      <td class="hole-data center-align" rowspan="2">IN</td>
      <td class="score"></td>
    </tr>
    <tr class="data">
      <td class="hole-data left-align" colspan="2">HANDICAP</td>
      {% for hole in holes %}
      <td class="hole-data center-align">{{ hole.handicap }}</td>
      {% endfor %}
      <td class="score"></td>
    </tr>
    <tr class="data">
      <td class="hole-data left-align" colspan="2">YARDS</td>
      {% for hole in holes %}
      <td class="hole-data center-align">{{ hole.yards }}</td>
      {% endfor %}
      <td class="hole-data center-align">{{ total }}</td>
      <td class="score"></td>
    </tr>
    <tr class="data">
      <td class="hole-data left-align" colspan="2">PAR</td>
      {% for hole in holes %}
      <td class="hole-data center-align">{{ hole.par }}</td>
      {% endfor %}
      <td class="hole-data center-align">36</td>
      <td class="score"></td>
    </tr>
    <tr class="scores">
      <td class="descriptor">{{ card.team1_golferB.name }}</td>
      <td class="hcp">{{ card.team1_golferB_hcp|floatformat:0 }}</td>

      {% for score, css in card.team1_golferB_scores %}
      <td class="score" id="{{ css }}">{{ score }}</td>
      {% endfor %}

      <td class="score" style="background-color:#97A2A2">{{ card.team1_golferB_total }}</td>
      <td class="total" style="background-color:#97A2A2">{{ card.team1_golferB_net|floatformat:0 }}</td>
    </tr>
    <tr class="points">
      <td class="descriptor" colspan="2">POINTS:</td>

      {% for points in card.team1_golferB_hole_points %}
      <td class="points" id="">{{ points.points }}</td>
      {% endfor %}
      
      <td class"points">{{ card.team1_golferB_round_points }}</td>
      <td class"total">{{ card.team1_golferB_total_points }}</td>

    </tr>
    <tr class="scores">
      <td class="descriptor">{{ card.team2_golferB.name }}</td>
      <td class="hcp">{{ card.team2_golferB_hcp|floatformat:0 }}</td>

      {% for score, css in card.team2_golferB_scores %}
      <td class="score" id="{{ css }}">{{ score }}</td>
      {% endfor %}

      <td class="score" style="background-color:#97A2A2">{{ card.team2_golferB_total }}</td>
      <td class="total" style="background-color:#97A2A2">{{ card.team2_golferB_net|floatformat:0 }}</td>
    </tr>
    <tr class="points">
      <td class="descriptor" colspan="2">POINTS:</td>

      {% for points in card.team2_golferB_hole_points %}
      <td class="points" id="">{{ points.points }}</td>
      {% endfor %}
      
      <td class"points">{{ card.team2_golferB_round_points }}</td>
      <td class"total">{{ card.team2_golferB_total_points }}</td>

    </tr>
  </table>
</div>
<br>
{% endfor %}
{% endblock %}
