#legend {
    margin-left: auto;
    margin-right: auto;
    alignment: center;
    text-align: center;
}

#schedule tr:nth-child(4n+3) {
    background-color: #0DB14B;
    border-top: 2px solid #545454;
}

#schedule tr:nth-child(4n+4) {
    background-color: #0DB14B;
}

#schedule tr:nth-child(4n+5) {
    border-top: 2px solid #545454;
}

#schedule {
    text-align: center;
    width: auto;
    border: 1px solid #444444;
    background-color: #97A2A2;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

#schedule tr {
    color: #FFFFFF;
}

#schedule td, table th {
    border: 1px solid #AAAAAA;
}

#schedule td.name {
    padding-left: 3px;
    padding-right: 8px;
}

#schedule td.team {
    padding-left: 3px;
    padding-right: 8px;
    border-right: 2px solid #545454;
    text-align: center;
}

#schedule tbody td {
    font-size: 13px;
}

#schedule thead {
    background: #18453B;
    border-bottom: 2px solid #444444;
    text-align: center;
}

#schedule thead th {
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
}

#schedule thead th:first-child {
    border-left: none;
}

#weekscores td.score {
    text-align: center;
}

#weekscores td.gross {
    text-align: center;
    border-left: 2px solid #545454;
}

#weekscores td.net {
    text-align: center;
}

#weekscores {
    alignment: center;
    width: auto;
    border: 1px solid #444444;
    color: #FFFFFF;
    background-color: #97A2A2;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

#weekscores td, table th {
    border: 1px solid #AAAAAA;
}

#weekscores td.name {
    padding-left: 3px;
    padding-right: 8px;
    border-right: 2px solid #545454;
}

#weekscores tbody td {
    font-size: 13px;
}

#weekscores tr:nth-child(even) {
    background: #0DB14B;
}

#weekscores thead {
    background: #18453B;
    border-bottom: 2px solid #444444;
    text-align: center;
}

#weekscores thead th {
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
}

#weekscores thead th:first-child {
    border-left: none;
}


#standings tr:nth-child(4n+3) {
    background-color: #0DB14B;
    border-top: 2px solid #545454;
}

#standings tr:nth-child(4n+4) {
    background-color: #0DB14B;
}

#standings tr:nth-child(4n+5) {
    border-top: 2px solid #545454;
}


#standings {
    alignment: center;
    width: auto;
    border: 1px solid #444444;
    color: #FFFFFF;
    background-color: #97A2A2;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

#standings td.score {
    text-align: center;
}

#standings td.hcp {
    text-align: center;
    font-size: 10px;
    border-right: 2px solid #545454;
}

#standings td, table th {
    border: 1px solid #AAAAAA;
}

#standings td.name {
    padding-left: 3px;
    padding-right: 8px;
    border-right: 2px solid #545454;
}

#standings td.place {
    padding-left: 3px;
    padding-right: 8px;
    border-right: 2px solid #545454;
    text-align: center;
}

#standings tbody td {
    font-size: 13px;
}

#standings thead {
    background: #18453B;
    border-bottom: 2px solid #444444;
    text-align: center;
    padding: 0 10px 0 10px;
}

#standings thead th {
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
}

#standings thead th:first-child {
    border-left: none;
}

#eagle {
    background-color: lightgreen;
    color: white;
}

#birdie {
    background-color: red;
    color: white;
}

#par {
    background-color: #97A2A2;
    color: white;
}

#bogey {
    background-color: darkblue;
    color: white;
}

#worst {
    background-color: black;
    color: white;
}

#getting-stroke_eagle {
    width: 100px;
    margin-bottom: 20px;
    color: white;
    box-shadow: 0 0 0 2px yellow inset;
    background-color: lightgreen;
}

#getting-stroke_birdie {
    width: 100px;
    margin-bottom: 20px;
    color: white;
    box-shadow: 0 0 0 2px yellow inset;
    background-color: red;
}

#getting-stroke_par {
    width: 100px;
    margin-bottom: 20px;
    color: white;
    box-shadow: 0 0 0 2px yellow inset;
    background-color: #97A2A2;
}

#getting-stroke_bogey {
    width: 100px;
    margin-bottom: 20px;
    color: white;
    box-shadow: 0 0 0 2px yellow inset;
    background-color: darkblue;
}

#getting-stroke_worst {
    width: 100px;
    margin-bottom: 20px;
    color: white;
    box-shadow: 0 0 0 2px yellow inset;
    background-color: black;
}

#getting2-stroke_eagle {
    width: 100px;
    margin-bottom: 20px;
    color: white;
    box-shadow: 0 0 0 2px yellow inset, 0 0 0 4px red inset;
    background-color: lightgreen;
}

#getting2-stroke_birdie {
    width: 100px;
    margin-bottom: 20px;
    color: white;
    box-shadow: 0 0 0 2px yellow inset, 0 0 0 4px red inset;
    background-color: red;
}

#getting2-stroke_par {
    width: 100px;
    margin-bottom: 20px;
    color: white;
    box-shadow: 0 0 0 2px yellow inset, 0 0 0 4px red inset;
    background-color: #97A2A2;
}

#getting2-stroke_bogey {
    width: 100px;
    margin-bottom: 20px;
    color: white;
    box-shadow: 0 0 0 2px yellow inset, 0 0 0 4px red inset;
    background-color: darkblue;
}

#getting2-stroke_worst {
    width: 100px;
    margin-bottom: 20px;
    color: white;
    box-shadow: 0 0 0 2px yellow inset, 0 0 0 4px red inset;
    background-color: black;
}

.scorecard {
    alignment: center;
    border-spacing: 0;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

.scorecard td {
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 3px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
    border-color: black;
}

.scorecard .scores {
    color: #FFFFFF;
}

.scorecard .data {
    color: #FFFFFF;
    background-color: #272727;
}

.scorecard .points {
    border-color: inherit;
    background-color: white;
    text-align: center;
    vertical-align: top
}

.scorecard th {
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding: 3px 3px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
    border-color: black;
}

.left-align {
    text-align: left;
}

.center-align {
    text-align: center;
}

.scorecard .score {
    border-color: inherit;
    text-align: center;
    vertical-align: top
}

.scorecard .descriptor {
    font-weight: bold;
    border-color: inherit;
    text-align: left;
    vertical-align: top;
    color: #FFFFFF;
    background-color: #272727;
}

.scorecard .hole-data {
    font-weight: bold;
    font-style: italic;
    border-color: inherit;
    vertical-align: top
}

.scorecard .total {
    border-left: 2px solid;
    border-color: inherit;
    text-align: center;
    vertical-align: top
}

.scorecard .hcp {
    text-align: center;
    font-weight: bold;
    font-size: 10px;
    border-color: inherit;
    vertical-align: center;
    color: #FFFFFF;
    background-color: #272727;
}